---
import Container from "@components/ui/container.astro";
import { Image } from "astro:assets";
import Step1 from "@assets/steps/1.webp";
import Step2 from "@assets/steps/2.webp";
import Step3 from "@assets/steps/3.webp";
import Step4 from "@assets/steps/4.webp";
import Step5 from "@assets/steps/5.webp";
import Step6 from "@assets/steps/6.webp";
import Step7 from "@assets/steps/7.webp";
import Header from "@components/ui/header.astro";

const steps = [
    {
        image: Step1,
        title: "Grab Your Challenge Companion",
        description:
            "Whether a casual partner, together for 2 weeks, 2 years, or a lifetime, the VUSH Challenge is built for any kind of intimacy level. So grab that partner, and let's get spicy. ",
    },
    {
        image: Step2,
        title: "Set The Scene",
        description:
            "Dedicate time for each other (we like to think of this as the perfect date night activity). Create a cozy or sensually stimulating environment, as the mood suggests. Pour yourselves a drink and switch on that ambient lighting.",
    },
    {
        image: Step3,
        title: "Shake It Up",
        description: `Begin your challenge by each taking your personalised deck of 15 'Shake Up' cards – keep your cards a secret from your partner, as each deck is different! Familiarise yourself with your new arsenal, so you'll know a good opportunity to "shake things up" when you see it.`,
    },
    {
        image: Step4,
        title: "Choose Your Challenge",
        description:
            "Gauge your current vibe and pick a card spice level that resonates. Anticipate the thrill as you scratch and reveal your joint mission.",
    },
    {
        image: Step5,
        title: "Indulge In The Moment",
        description:
            "Embrace the challenge with an open heart and mind. Whether it's a giggle-inducing game or a path to passion, savour every second.",
    },
    {
        image: Step6,
        title: "Document & Share Your Adventure",
        description: `<p>Just had the date of a lifetime? Or made a big mess in the kitchen? Take a pic and upload it to your story and tag our <a href="https://www.instagram.com/vush_official/" target="_blank" title="https://www.instagram.com/vush_official/">@vush_official</a> Instagram for a re-share (Let's keep things PG!)</p>`,
    },
    {
        image: Step7,
        title: "Consent & Comfort",
        description:
            "Always our top priority. The VUSH Challenge is your playground of positivity, crafted with enthusiastic consent and boundary respect at its core. If a challenge doesn't resonate, simply flutter to the next card. This journey is yours to tailor, explore, and adore.",
    },
];
---

<section class="bg-white py-16">
    <Container>
        <div
            class="scroll-container scrollbar-hide relative flex flex-shrink-0 snap-x snap-proximity flex-row flex-nowrap items-start overflow-x-scroll"
            data-scroll-container
        >
            <div
                class="gel flex snap-x snap-mandatory flex-row items-start gap-6 py-8"
            >
                {
                    steps.map((step, index) => (
                        <div
                            class="flex w-96 flex-col items-start justify-start gap-4 text-start"
                            key={index}
                        >
                            <Image
                                src={step.image}
                                alt={step.title}
                                class="h-full w-full"
                            />
                            <h3 class="font-clearface text-vushBlack text-2xl font-semibold ">
                                {step.title}
                            </h3>
                            <p
                                class="text-sm text-neutral-800  md:text-base"
                                set:html={step.description}
                            />
                        </div>
                    ))
                }
            </div>
        </div>
        <div
            class="progress-bar h-1.5 w-full rounded-full bg-neutral-300"
            data-progress-container
        >
            <div
                class="progress from-vushOrange via-vushYellow to-vushGreen h-1.5 w-0 rounded-full bg-gradient-to-r"
                data-progress-bar
            >
            </div>
        </div>
    </Container>
</section>

<script type="module" is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        // Select all scroll containers
        const scrollContainers = document.querySelectorAll(
            "[data-scroll-container]",
        );

        scrollContainers.forEach((scrollContainer) => {
            // For each scroll container, find its corresponding progress bar
            const progressBar =
                scrollContainer.nextElementSibling.querySelector(
                    "[data-progress-bar]",
                );

            if (!progressBar) {
                console.error("Progress bar not found for a scroll container");
                return;
            }

            const updateProgressBar = () => {
                const scrollWidth =
                    scrollContainer.scrollWidth - scrollContainer.clientWidth;
                const scrollLeft = scrollContainer.scrollLeft;
                const scrollPercent = (scrollLeft / scrollWidth) * 100;
                progressBar.style.width = `${scrollPercent}%`;
            };

            scrollContainer.addEventListener("scroll", updateProgressBar);
        });
    });
</script>
